.column {
  display: flex;
  padding-top: 40px;
  position: relative;
}
.leftColumn {
  position: fixed;
  top: 100px;
  width: 350px;
  border-right: 1px solid var(--gray-color-100);
  padding-right: 30px;
  background-color: white;
}

.leftColumn::-webkit-scrollbar {
  width: 6px;
}

.leftColumn::-webkit-scrollbar-track {
  background: transparent;
}

.leftColumn::-webkit-scrollbar-thumb {
  background: var(--gray-color-300);
  border-radius: 3px;
}

.leftColumn::-webkit-scrollbar-thumb:hover {
  background: var(--gray-color-400);
}
.rightColumn {
  margin-left: 365px;
  padding: 0px 30px 0px 40px;
}

.title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  -webkit-background-clip: text;
  background-clip: text;
  color: var(--black-color-500);
}

.subtitle {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 2rem;
}

/* ------------------------ media queries ------------------------ */
/* --------------------------------------------------------------- */
@media (max-width: 950px) {
  .column {
    display: flex;
    flex-direction: column;
  }
  .leftColumn {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    height: auto;
    overflow-y: visible;
    border-right: none;
    padding-right: 0px;
    padding-left: 0px;
  }
  .rightColumn {
    margin-left: 0;
    padding: 0px;
    margin-top: 50px;
  }
}
