.column {
  display: grid;
  grid-template-columns: 350px 1fr;
}
.leftColumn {
  border-right: 1px solid var(--gray-color-100);
  padding-right: 30px;
}
.rightColumn {
  padding: 0px 30px 0px 30px;
}

.title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  -webkit-background-clip: text;
  background-clip: text;
  color: var(--black-color-500);
}

.subtitle {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 2rem;
}

/* ------------------------ media queries ------------------------ */
/* --------------------------------------------------------------- */
@media (max-width: 950px) {
  .column {
    display: flex;
    flex-direction: column;
  }
  .leftColumn {
    border-right: 1px solid var(--gray-color-100);
    padding-right: 0px;
    border: none;
  }
  .rightColumn {
    padding: 0px;
    margin-top: 70px;
  }
}
